.button {
	width: max-content;
	padding: 12px 24px;
	border: 1px solid transparent;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	background-color: rgb(96, 0, 96);
	color: white;
	font-weight: 500;
	cursor: pointer;
	&:hover {
		background-color: rgb(145, 0, 145);
	}
	&.disable {
		background-color: grey;
		cursor: auto;
	}
	&.loading {
		pointer-events: none;
	}
}
